:root {
  --base-color: #000000;
  --base-variant: #27272a;
  --text-color: #ededed;
  --secondary-text: #a1a1a1;
  --primary-color: #ededed;
  --secondary-color: #0090ff;
}

.lightmode {
  --base-color: #ededed;
  --base-variant: #a1a1a1;
  --text-color: #000000;
  --secondary-text: #27272a;
  --primary-color: #000000;
  --secondary-color: #0090ff;
}

/* Global */
body {
  margin: 0;
  padding: 0;
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid var(--base-variant);
  padding: 16px 0;
  font-weight: 400;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--base-color);
}

.navbar a {
  color: var(--secondary-text);
  position: relative;
}

.nav-kiri {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 0 0 50px;
}

.logo a {
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-right: 20px;
}

.nav-kiri ul {
  display: flex;
  font-size: 16px;
}

.nav-kiri li {
  padding: 0 20px;
}

.navbar li a::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -0.3rem;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--text-color);
}

.navbar a:hover:after {
  width: 100%;
}

.nav-kanan {
  margin: 0 50px 0 0;
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.nav-kanan i {
  font-size: 1.3em;
}

.nav-kanan button {
  height: 40px;
  width: 100px;
  border-radius: 8px;
  font-size: 1em;
}

.nav-kanan #sign-in {
  background-color: var(--base-color);
  color: var(--text-color);
  border: solid var(--base-variant);
}

.nav-kanan #sign-in:hover,
.container-1 #more-analytics:hover,
.container-3 #contact:hover {
  background-color: var(--base-variant);
  transition: 0.3s;
}

.nav-kanan #sign-up {
  background-color: var(--primary-color);
  color: var(--base-color);
}

.nav-kanan #sign-up:hover,
.container-1 #get-started:hover,
.container-3 #sign-up:hover,
.container-3 .collapse-button:hover {
  background-color: var(--secondary-text);
  transition: 0.3s;
}

/* first content */
.container-1 {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin: 80px 50px;
  font-weight: 400;
}

.container-1 a {
  color: var(--primary-color);
  font-size: 1em;
  width: fit-content;
  position: relative;
}

.container-1 a::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -0.3rem;
  transition: 0.3s;
}

.container-1 a:hover::after {
  width: 100%;
}

.container-1 h1 {
  margin: 10px 0 10px 0;
  font-size: 4em;
  width: 50%;
}

.container-1 button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-size: 1em;
  margin-right: 8px;
}

.container-1 #get-started {
  background-color: var(--primary-color);
  color: var(--base-color);
}

.container-1 #more-analytics {
  background-color: var(--base-color);
  color: var(--text-color);
  border: solid var(--base-variant);
}

/* second content */
.container-2 {
  display: flex;
  border: solid var(--base-variant);
}

.container-2 .content:first-child {
  border-right: solid var(--base-variant);
}

.container-2 .content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 60px 60px;
}

.container-2 .content * {
  padding: 8px 0;
}

.container-2 h2 {
  font-size: 2em;
}

.container-2 img {
  width: 543px;
  height: 315px;
}

/* third content */
.container-3 {
  display: flex;
  flex-direction: column;
  margin: 50px 50px 100px 50px;
  border: solid var(--base-variant);
}

.container-3 #atas {
  display: flex;
  margin-bottom: 50px;
}

.container-3 #kiri {
  width: 40%;
  padding: 50px 50px 50px 50px;
  border-right: solid var(--base-variant);
}

.container-3 #kiri h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.container-3 #kiri p {
  font-size: 16px;
}

.container-3 #kiri li {
  font-size: 16px;
  color: var(--secondary-text);
  list-style: disc;
  list-style-position: inside;
}

.container-3 #kiri .hidden {
  display: none;
}

.container-3 #show {
  color: var(--secondary-text);
  text-decoration: underline;
  cursor: pointer;
}

.container-3 #kanan {
  width: 65%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.container-3 .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}

.container-3 #kanan .content {
  margin-top: 50px;
  border: solid var(--base-variant);
  width: 320px;
  height: 210px;
  overflow: hidden;
}

.container-3 #kanan img {
  width: 320px;
  height: 160px;
}

.container-3 #kanan img:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.container-3 #kanan h3 {
  margin: 10px 0 0 10px;
}

.container-3 #collapse-button {
  align-self: center;
}

.container-3 .collapsed {
  display: none;
}

.container-3 #bawah {
  margin: 50px;
  width: 70%;
}

.container-3 #bawah h2 {
  font-size: 32px;
  display: inline;
}

.container-3 #h2001 {
  font-weight: 600;
  color: var(--text-color);
}

.container-3 #h2003 {
  font-weight: 400;
  color: var(--secondary-color);
}

.container-3 #h2002,
#h2004 {
  font-weight: 400;
  color: var(--secondary-text);
}

.container-3 button {
  width: 135px;
  height: 50px;
  border-radius: 25px;
  font-size: 1em;
  margin: 10px 0 8px 0;
}

.container-3 #sign-up {
  background-color: var(--primary-color);
  color: var(--base-color);
}

.container-3 #contact {
  background-color: var(--base-color);
  color: var(--secondary-text);
  border: solid var(--base-variant);
}

/* footer */
.footer {
  display: flex;
  margin: 50px;
  justify-content: space-between;
  font-size: 18px;
}

.footer li {
  padding: 2px 0;
  font-weight: 400;
  font-size: 16px;
}

.footer a {
  color: var(--secondary-text);
}

.footer a:hover {
  color: var(--text-color);
  transition: 0.3s;
}

.footer #status {
  color: var(--secondary-color);
}

.footer #status i {
  font-size: 12px;
}
